header {
    background-color: #3e5b99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 100px;
    width: 100%;
}

a {
    text-decoration: none;
}
header img {
    width: 300px;
}

header section {
    width: 25%;
}
tr td a {
    color: white;
}
.button {
    border-width: 0px;
    background-color: #4267b2;
}


main {
    background-color: #ecf0f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

article {
    width: 30%;
}

section {
    width: 25%;
    float: right;
}

.form table td input{
    width: 100%;
}

.form p {
    font-size: 15px;
    color: gray;
}

.form input {
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
}


footer {
    text-align: center;
}



